<a href="https://colab.research.google.com/github/davidneves11/Scikit-learn-notebooks/blob/main/Aula%203/aula_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 2

## Importando a biblioteca

In [ ]:
import sklearn

## Importando as bases de dados

In [ ]:
from sklearn import datasets

iris = datasets.load_iris
iris

In [ ]:
import pandas as pd

diabetes = pd.read_csv('https://gist.githubusercontent.com/davidneves11/944edb5ecb7bf6d1770eae91cb20d049/raw/50d3d054185815b0c49561f94badedc06ef3c313/diabetes.csv')
diabetes.head()

   quantidade_gravidez  concentracao_glicose  ...  idade         resultado
0                    6                   148  ...     50  testado_positivo
1                    1                    85  ...     31  testado_negativo
2                    8                   183  ...     32  testado_positivo
3                    1                    89  ...     21  testado_negativo
4                    0                   137  ...     33  testado_positivo

[5 rows x 9 columns]

In [ ]:
batimentos = pd.read_csv('https://gist.githubusercontent.com/davidneves11/01b2963f7a8dfd87d79010fbf847b221/raw/685870f4365bcda4e5bb9e342285e0aac37dd556/colesterol.csv')
batimentos.head()

   idade  genero  tipo_dor_peito  ...  thal  diag_doenca_cardiaca  colesterol
0     63       1               1  ...     6                     0         233
1     67       1               4  ...     3                     2         286
2     67       1               4  ...     7                     1         229
3     37       1               3  ...     3                     0         250
4     41       0               2  ...     3                     0         204

[5 rows x 14 columns]

In [ ]:
colesterol = pd.read_csv('https://gist.githubusercontent.com/davidneves11/01b2963f7a8dfd87d79010fbf847b221/raw/685870f4365bcda4e5bb9e342285e0aac37dd556/colesterol.csv')
colesterol.head()

   idade  genero  tipo_dor_peito  ...  thal  diag_doenca_cardiaca  colesterol
0     63       1               1  ...     6                     0         233
1     67       1               4  ...     3                     2         286
2     67       1               4  ...     7                     1         229
3     37       1               3  ...     3                     0         250
4     41       0               2  ...     3                     0         204

[5 rows x 14 columns]

In [ ]:
x = diabetes['idade']
y = diabetes['resultado']

## Função train_test_split

In [ ]:
from sklearn.model_selection import train_test_split

x_treino, x_teste, y_treino, y_teste = train_test_split(x, y)

In [ ]:
score