<a href="https://colab.research.google.com/github/davidneves11/Scikit-learn-notebooks/blob/main/Aula%205/aula_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 2

## Importando a biblioteca

In [ ]:
import sklearn

## Importando as bases de dados

In [ ]:
from sklearn import datasets

iris = datasets.load_iris
iris

In [ ]:
import pandas as pd

diabetes = pd.read_csv('https://gist.githubusercontent.com/davidneves11/944edb5ecb7bf6d1770eae91cb20d049/raw/50d3d054185815b0c49561f94badedc06ef3c313/diabetes.csv')
diabetes.head()

   quantidade_gravidez  concentracao_glicose  ...  idade         resultado
0                    6                   148  ...     50  testado_positivo
1                    1                    85  ...     31  testado_negativo
2                    8                   183  ...     32  testado_positivo
3                    1                    89  ...     21  testado_negativo
4                    0                   137  ...     33  testado_positivo

[5 rows x 9 columns]

In [ ]:
batimentos = pd.read_csv('https://gist.githubusercontent.com/davidneves11/01b2963f7a8dfd87d79010fbf847b221/raw/685870f4365bcda4e5bb9e342285e0aac37dd556/colesterol.csv')
batimentos.head()

   idade  genero  tipo_dor_peito  ...  thal  diag_doenca_cardiaca  colesterol
0     63       1               1  ...     6                     0         233
1     67       1               4  ...     3                     2         286
2     67       1               4  ...     7                     1         229
3     37       1               3  ...     3                     0         250
4     41       0               2  ...     3                     0         204

[5 rows x 14 columns]

In [ ]:
colesterol = pd.read_csv('https://gist.githubusercontent.com/davidneves11/01b2963f7a8dfd87d79010fbf847b221/raw/685870f4365bcda4e5bb9e342285e0aac37dd556/colesterol.csv')
colesterol.head()

   idade  genero  tipo_dor_peito  ...  thal  diag_doenca_cardiaca  colesterol
0     63       1               1  ...     6                     0         233
1     67       1               4  ...     3                     2         286
2     67       1               4  ...     7                     1         229
3     37       1               3  ...     3                     0         250
4     41       0               2  ...     3                     0         204

[5 rows x 14 columns]

In [ ]:
x = diabetes['idade']
y = diabetes['resultado']

## FunÃ§Ã£o train_test_split

In [ ]:
from sklearn.model_selection import train_test_split

x_treino, x_teste, y_treino, y_teste = train_test_split(x, y)

In [ ]:
score

# Aula 3

## Importando a base de dados

In [ ]:
import pandas as pd

diabetes = pd.read_csv('https://gist.githubusercontent.com/davidneves11/944edb5ecb7bf6d1770eae91cb20d049/raw/50d3d054185815b0c49561f94badedc06ef3c313/diabetes.csv')
diabetes.head()

## Definindo as features e labels

In [ ]:
x = diabetes.drop('resultado',axis=1)
x

In [ ]:
y = diabetes['resultado']
y

## Separando os dados para treino e teste

In [ ]:
from sklearn.model_selection import train_test_split

SEED = 4121988

x_treino, x_teste, y_treino, y_teste = train_test_split(x, y)

## Importando o algoritmo de Ã¡rvore de decisÃ£o

In [ ]:
from sklearn.tree import DecisionTreeClassifier

clf_arvore = DecisionTreeClassifier(random_state=SEED, max_depth=3)

## Treinando o modelo

In [ ]:
clf_arvore.fit(x_treino, y_treino)

## Verificando a acurÃ¡cia do modelo

In [ ]:
clf_arvore.score(x_teste, y_teste)

0.7552083333333334

## Importando o classificador dummy

In [ ]:
from sklearn.dummy import DummyClassifier

## Treinando o modelo e comparando as acurÃ¡cias

In [ ]:
clf_dummy = DummyClassifier(strategy='most_frequent')
clf_dummy.fit(x_treino, y_treino)

In [ ]:
clf_dummy.score(x_teste, y_teste)

Plotando a Ã¡rvore de decisÃ£o

In [ ]:
from sklearn import tree
import matplotlib.pyplot as plt

fig, ax = plt.subplots(figsize=(15,10))
tree.plot_tree(clf_arvore,
               ax=ax,
               fontsize=10,
               rounded=True,
               filled=True,
               feature_names=x_treino.columns,
               class_names=['NÃ£o Ativado', 'Ativado'], rotate=True)
plt.show

# Aula 4

## Importando a base de dados

In [ ]:
import pandas as pd 

batimentos = pd.read_csv('https://gist.githubusercontent.com/davidneves11/d72e7f49ab01c856acc5d07be4b1a9dd/raw/37631e3a40da92e6261c00fffdf0fb9b869b35dd/batimentos%2520cardiacos.csv')
batimentos.head()

       Idade        Peso  Horas de atividade  Batimentos cardiacos
0  44.247295   53.591343            3.397836             82.307425
1  81.427930  172.569375           33.142344            179.045377
2  50.807130   74.582817            8.645704            103.522796
3  55.778712   90.491878           12.622969            114.239779
4  53.790400   84.129280           11.032320            107.184063

Plotando o grÃ¡fico

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()
plt.figure(figsize=(100, 50))

sns.lmplot(x='Peso', y='Batimentos cardiacos', data=batimentos,line_kws={'color':'red'})
plt.show()

## Separando os dados para a previsÃ£o

In [ ]:
x = batimentos[['Peso','Idade']]

In [ ]:
y = batimentos['Batimentos cardiacos']

## Separando os dados para teste e treino

In [ ]:
from sklearn.model_selection import train_test_split

SEED=4500

x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, random_state = SEED)

## Importando o algoritmo de regressÃ£o linear

In [ ]:
from sklearn import linear_model

rgs = linear_model.LinearRegression(fit_intercept=False, normalize=True)

## Treinando o modelo

In [ ]:
rgs.fit(x_treino, y_treino)

LinearRegression(copy_X=True, fit_intercept=False, n_jobs=None, normalize=True)

## Verificando a acurÃ¡cia

In [ ]:
rgs.score(x_teste, y_teste)

0.9872272899997122